{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                      io.github.kotoba-lang/kotoba
                      {:git/url "https://github.com/kotoba-lang/kotoba.git"
                       :git/sha "5edf55b5c7221ed2be1579c34a78b2e419bcdc6b"}
                      io.github.kotoba-lang/amu
                      {:git/url "https://github.com/kotoba-lang/amu.git"
                       :git/sha "269846bbd9921517ec9451fbf575e047d61c7e19"}
                      io.github.kotoba-lang/kotoba-lang
                      {:git/url "https://github.com/kotoba-lang/kotoba-lang.git"
                       :git/sha "94443462fba84e28bff5df6e3adf6752bf9b8e2e"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  ;; clj-kondo as a Clojars lib (no Homebrew/system install needed).
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                     "--fail-level" "error"]}}}
